body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}


/* Mobile Styles */
@media only screen and (max-width: 200px) {
    /* Adjust styles for smaller screens */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #gameContainer {
        width: 100%; /* Adjust the width as needed */
    }

    #submitBtn {
        margin-top: 100px; /* Adjust the margin as needed */
    }
}
